<div style="width: 600px;">
  <div style="float: left; width: 100%; height: 50px; margin-bottom: 10px;">
  <%= link_to image_tag ("http://achacasas.com/images/achacasas_logo_email.png"), "http://achacasas.com", {:title => "Acha-Casas - Onde você encontra seu lugar"} %>
  </div>
  <p>Oi mais uma vez, <%= @user.nome %>!</p>
  <p>O anúncio de seu imóvel de refêrencia <b><i><%= @imovel.referencia %></i></b> expira amanhã.<br/>
  Você pode anúnciar novamente hoje mesmo! Anunciando novamente antes da data de expiração faz com que 30 dias
  sejam acrescidos no anúncio de seu imóvel.<br/>
  Como falta um dia, assim que o pagamento for iniciado, seu imóvel ficará mais 2(dois) dias visível à todos.</p>
  <p>Se você quer anunciar novamente, <%= link_to "clique aqui!", "http://achacasas.com/u/#{@anuncio.property_id}" %> Clique em Anunciar.</p>
  <p>Até mais!</p>
  <p style="float: left; width: 100%; padding: 0; margin: 0;">--<br/>
  Acha-Casas<br/>
  <%= link_to "contato@achacasas.com", "mailto:contato@achacas.com", {:title => "Fale com a gente!"} %><br/>
  <div style="float: left; height: 20px; margin: -5px 0 0 0; padding: 0; width: 100%;"><span style="float: left; margin: -5px 10px 0 0; padding: 0 5px 0 0;">Um serviço </span><%= link_to image_tag ("http://achacasas.com/images/logo_conptus.png"), "http://conptus.com", {:title => "Conptus Soluções Web"} %></div>
  </p>
</div>

