<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="width: 600px; margin: 0 auto;">
    <div style="float: left; width: 100%; height: 50px; margin-bottom: 10px;">
    <%= link_to image_tag ("http://achacasas.com/images/achacasas_logo_email.png"), "http://achacasas.com", {:title => "Acha-Casas - Onde você encontra seu lugar"} %>
    </div>
    <p><%= @user.nome %>, obrigado por anunciar com a gente! Agora falta pouco!</p>
    <p>Seu imóvel vai pro ar assim que obtivermos  uma cofirmação do PagSeguro.</p>
    <h3>O imóvel que vai ser anunciado é:</h3>
    <div style="background: #f5f5f5; color: #333; width: 100%; height: 70px; overflow: hidden;">
      <%= image_tag ("http://achacasas.com"+@photoloc), :title => "Ref. #{@imovel.referencia}", :alt => "Ref. #{@imovel.referencia}", :width => "70px", :float => "left" %>
      <div style="float: right; width: 520px; margin-left: 5px;">
      <h3 style="margin: 3px 0; padding: 0;"><%= @imovel.tipoImovel %> para <%= @imovel.negocio %> - <%= @imovel.referencia %></h3>
      <h3 style="margin: 3px 0; padding: 0;"><%= @imovel.logradouro %>, <%= @imovel.numero %> - <%= @imovel.bairro %> - CEP <%= @imovel.cep %></h3>
      <h3 style="margin: 3px 0; padding: 0; color: #007100;">
       <% case @anuncio.plano.to_i %>
          <% when 0 %>
            Plano Mensal - valor R$ 30,00.
          <% when 1 %>
            Plano Trimestral - valor R$ 75,00.
          <% when 2 %>
            Plano Semestral - valor R$ 140,00.
          <% when 3 %>
            Plano Anual - valor R$ 240,00.
        <% end %>
       </h3>
      </div>
    </div>
    <p>Se você ainda não confirmou o pagamento, <%= link_to "clique aqui", "http://achacasas.com/pagamento/?pid=#{@anuncio.property_id}&token=#{@anuncio.token}" %> para continuar de onde parou.</p>
    <p>Alguma coisa errada? Entre em contato direto com a gente através endereço abaixo!</p>
    <p style="float: left; width: 100%; padding: 0; margin: 0;">--<br/>
    Acha-Casas<br/>
    <%= link_to "contato@achacasas.com", "mailto:contato@achacas.com", {:title => "Fale com a gente!"} %><br/>
    <div style="float: left; height: 20px; margin: -5px 0 0 0; padding: 0; width: 100%;"><span style="float: left; margin: -5px 10px 0 0; padding: 0 5px 0 0;">Um serviço </span><%= link_to image_tag ("http://achacasas.com/images/logo_conptus.png"), "http://conptus.com", {:title => "Conptus Soluções Web"} %></div>
    </p>
  </body>
</html>

