<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body style="width: 600px; margin: 0 auto;">
    <div style="float: left; width: 100%; height: 50px; margin-bottom: 10px;">
    <%= link_to image_tag ("http://localhost:3000/images/achacasas_logo_email.png"), "http://achacasas.com", {:title => "Acha-Casas - Onde você encontra seu lugar"} %>
    </div>
    <p>Seja bem-vindo ao Acha-Casas, <%= @resource.nome %>!</p>
    <p>Agora você só precisa confimar seu e-mail, cliquando no link abaixo:</p>
    <p><%= link_to 'Confirmar meu e-mail', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
    <p>Obrigado! Tenha um bom dia!</p>
    <p style="float: left; width: 100%; padding: 0; margin: 0 0 10px 0;">--<br/>
    Acha-Casas<br/>
    <%= link_to "contato@achacasas.com", "mailto:contato@achacas.com", {:title => "Fale com a gente!"} %><br/>
    <div style="float: left; height: 20px; margin: -5px 0 0 0; padding: 0; width: 100%;"><span style="float: left; margin: -5px 10px 0 0; padding: 0 5px 0 0;">Um serviço </span><%= link_to image_tag ("http://localhost:3000/images/logo_conptus.png"), "http://conptus.com", {:title => "Conptus Soluções Web"} %></div>
    </p>
  </body>
</html>

